.button {
  border: none;
  background: transparent;
  padding: 1.2rem;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s;
}

.alpha-1:hover {
  background: rgba(255, 255, 255, 0.3);
}
.alpha-2:hover {
  background: rgba(255, 255, 255, 0.2);
}
.alpha-3:hover {
  background: rgba(255, 255, 255, 0.1);
}

.button[disabled] {
  cursor: not-allowed;
}
