.container {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	min-height: 30rem;
	padding: 1rem;
	gap: 4rem;
}

.form {
	display: flex;
	gap: 2rem;
}

.input {
	width: 100%;
	max-width: 20rem;
	border: none;
	outline: none;
	padding: 1rem;
	font-size: 1.2rem;
	border-radius: 12px;
}

.submit {
	width: max-content;
	padding: 1rem 3rem;
	border: none;
	border-radius: 12px;
	font-family: inherit;
	font-weight: 900;
	background-color: #fff;
	cursor: pointer;
	transition: 0.2s all;
}

.submit:hover {
	background-color: #ff6060;
}

.no {
	width: 20rem;
	height: 20rem;
}

.no img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}
