.navMenu {
	position: fixed;
	top: 0;
	right: 0;
	max-width: 40rem;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(5px);
	transform: translateX(100%);
}

.show {
	transform: translateX(0);
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.actions {
	display: flex;
	gap: 2rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.action {
	font-size: 1rem;
	font-weight: 900;
	width: max-content;
}

.username {
	color: #fff;
	font-size: 2rem;
	font-weight: 900;
	width: 15rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.navToggleBtn {
	font-size: 1.5rem;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 5px;
	animation: colorful 100s infinite linear;
}

.navBtn {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 1rem;
	font-size: 1.2rem;
	padding: 2rem;
	border: none;
	background-color: #fafafa;
	transition: 0.2s all;
	border-radius: 1rem;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	font-weight: 500;
	text-align: left;
}

.navBtn:hover {
	background-color: rgb(212, 212, 212);
}

.backBtn {
	width: 4rem;
	height: 4rem;
	border: none;
	background: transparent;
	font-size: 2rem;

	position: fixed;
	top: 0;
	left: 0;
	margin: 2rem;
	padding: 1rem;
	transition: 0.2s all;
	border-radius: 1rem;
	cursor: pointer;
}

.backBtn:hover {
	background-color: rgb(212, 212, 212);
}

.navSlider {
	color: lime !important;
}

@keyframes colorful {
	0% {
		background-color: rgb(237, 100, 100);
	}
	10% {
		background-color: rgb(237, 178, 100);
	}
	20% {
		background-color: rgb(173, 237, 100);
	}
	30% {
		background-color: rgb(116, 237, 100);
	}
	20% {
		background-color: rgb(100, 237, 168);
	}
	20% {
		background-color: rgb(100, 194, 237);
	}
	20% {
		background-color: rgb(100, 132, 237);
	}
	20% {
		background-color: rgb(121, 100, 237);
	}
	90% {
		background-color: rgb(255, 0, 255);
	}
	100% {
		background-color: rgb(255, 127, 144);
	}
}

.bgImg {
	border: none;
	width: 9rem;
	height: 7rem;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.images {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}
