@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --rem: 10;
  --accent: #df0801;
  --text: #020a07;
  --back: #f8ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

#modal {
  width: 0;
  height: 0;
}

.fade {
  animation: fade 0.5s ease-in forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
