:root {
  --rem: 10;
  --accent: #df0801;
  --text: #020a07;
  --back: #f8ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

#modal {
  width: 0;
  height: 0;
}

.fade {
  animation: fade 0.5s ease-in forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
